.navBar-header {
  background-color: rgb(43, 43, 43);
}

.navBar-Wrapper {
  height: 50px;
}

.headerTitle {
  color: white;
  font-weight: bold;
}

.headerTitle:hover{
  color: white;
}

.fa-bars {
  color: white;
}
